body {
  font-family: "Exo 2", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2", sans-serif;
  font-weight: 700; 
}

p, span, a, li, input, button {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

/* Colores globales y constantes de borders */
:root {
  --border-color: #D6CACA;
  --background-color: #f2f2f2;
  --light-blue: #0087cd;
  --dark-blue: #003366;
  --main-orange: #F4A453;
  --black-text: #212123;
  --border-radius: 13px;
  --button-padding: 10px 20px;
  --container-width: 70%;
  --gap-size: 15px;
}